# ========================================
# ROS 2 编译与日志产物 (精准拦截)
# ========================================
kuka_ws/build/
kuka_ws/install/
kuka_ws/log/

# ========================================
# Python 缓存与临时文件
# ========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================================
# 编辑器与系统隐藏文件
# ========================================
.vscode/
.idea/
*.swp
*.swo
.DS_Store
