<launch>
  <arg name="model" />

  <!-- 加载机器人描述参数，使用 node 内部的 param 或使用 ros2param -->
  <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher">
    <param name="robot_description"
           value="$(command 'cat $(find-pkg-share ee_description)/urdf/ee_description.urdf')"/>
  </node>

  <node pkg="joint_state_publisher_gui" exec="joint_state_publisher_gui" name="joint_state_publisher_gui"/>

  <node pkg="rviz2" exec="rviz2" name="rviz"
        args="-d $(find-pkg-share ee_description)/urdf.rviz"/>
</launch>